name: Build Docker Image

on:
  push:
    branches: [ "master", "feature/*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.set-runner.outputs.runner }}
    steps:
      - name: Determine runner
        id: set-runner
        run: |
          echo "runner=self-hosted" >> $GITHUB_OUTPUT

  build:
    needs: setup
    runs-on: ${{ needs.setup.outputs.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: assemblymcp:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
